<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_0"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUNEW2"
        tools:targetApi="31">
        <activity
            android:name=".MainPage.Documents.nus"
            android:exported="false" />
        <activity
            android:name=".MainPage.Documents.timingfun"
            android:exported="false" />
        <activity
            android:name=".MainPage.Documents.multim"
            android:exported="false" />
        <activity
            android:name=".MainPage.Documents.animation"
            android:exported="false" />
        <activity
            android:name=".MainPage.Documents.css1"
            android:exported="false" />
        <activity
            android:name=".MainPage.Exams.examtt"
            android:exported="false" />
        <activity
            android:name=".MainPage.Exams.Results"
            android:exported="false" />
        <activity
            android:name=".MainPage.Documents.Doc1"
            android:exported="false" />
        <activity
            android:name=".MainPage.Acedemics.Faculty_Details"
            android:exported="false" />
        <activity
            android:name=".MainPage.Schedule.TimeTable"
            android:exported="false" />
        <activity
            android:name=".MainPage.More.Payment"
            android:exported="false" />
        <activity
            android:name=".MainPage.More.More"
            android:exported="false" />
        <activity
            android:name=".MainPage.Updates.Updates"
            android:exported="false" />
        <activity
            android:name=".MainPage.Documents.Documents"
            android:exported="false" />
        <activity
            android:name=".MainPage.Exams.Exams"
            android:exported="false" />
        <activity
            android:name=".MainPage.Acedemics.Academics"
            android:exported="false" />
        <activity
            android:name=".MainPage.Schedule.Schedules"
            android:exported="false" />
        <activity
            android:name=".StartUpPages.Signup_Screen"
            android:exported="false" />
        <activity
            android:name=".MainPage.MainActivity"
            android:exported="false" />
        <activity
            android:name=".StartUpPages.Login_Screen"
            android:exported="false" />
        <activity
            android:name=".StartUpPages.Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>